*{
	box-sizing: border-box;

	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: sans-serif;
	background-color: #FFFAFA;
}

section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: transparent;

}

header{
	background-color: #2F455C;
	color: white; /* more readable on an orange background */
	padding-top:50px;
	padding-bottom: 50px;
	text-align: center;
}

#subtitle{
	font-size: 20px;
}

h1{
	font-family:'Be Vietnam';
	font-size: 40px;

}

h2{
	font-family:'Be Vietnam'; 
}

h3{
	font-family:'Be Vietnam';
}

p{
	font-family: 'DM Sans';
	font-size: 18px;
}

nav{
	background-color: #34F5C5;
	overflow: hidden;
	text-align: center;



}

nav a, nav h3{
	margin: 0px;
	padding: 25px;
	line-height: 60px;
	margin-left: 1em;
	margin-right: 1em;
	font-family: "Be Vietnam";
	text-decoration: none;
	color: black;


}

nav a:hover{
	background-color:  #21D0B2; /* Hover styles to let people know they can click it */
	color: white;
}


#one, #two, #three, #four, #five{
	padding: 10px;
	padding-bottom: 20px;
	background-color: #2F455C;
	color: white;

	
	
}

.subheader{
	text-align: center;
}

/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 30%;
	float: left;
}

.g-70{
	width: 70%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}